<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}<!-- Placeholder for Title -->{% endblock %} - Paws Rescue Center</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

    {% block head %}
    <!-- Placeholder for Other Imports -->
    {% endblock %}

</head>
    <!-- Navbar -->
    <div>
        <ul style="list-style-type: none;float: right;font-size: large;">
            <li style="display:inline"><a href="{{url_for('home')}}">Home</a></li>
            <li style="display:inline"><a href="{{url_for('about')}}">About</a></li>
            {% if 'user' in session %}
                <li style="display:inline"><a href="{{url_for('logout')}}">Log Out</a></li>
            {% else %}
                <li style="display:inline"><a href="{{url_for('signup')}}">Sign Up</a></li>
                <li style="display:inline"><a href="{{url_for('login')}}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    {% block content %}
    <!-- Placeholder for Page Content -->
    {% endblock %}
</html>