{% extends "base.html" %}

{% block title %}
{{pet.name}}
{% endblock %}

{% block content %}
<body style="margin: 2%;">
    <div style="display: flex; flex-direction: row;">
        <image
            height="500"
            src="{{url_for('static', filename='avatar-' + pet.name.lower() + '.jpg')}}"
            alt="avatar-{{pet.name.lower()}}"
        >
        <div style="margin: 1rem;">
            <h1>{{pet.name}}</h1>
            <p><b>Age: </b>{{pet.age}}</p>
            <p><b>Bio: </b>{{pet.bio}}</p>
        </div>
    </div>
</body>
{% endblock %}