<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home - Paws Rescue Center</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
    <h1 style="text-align: center;">Paws Rescue Center 🐾</h1>
    <table>
        <tr>
            <th><b>Avatar</b></th>
            <th><b>Name</b></th>
            <th><b>Age</b></th>
            <th><b>Bio</b></th>
        </tr>
        {% for pet in pets %}
        <tr>
            <th>
                <a href="{{url_for('pet_details', pet_id=pet['id'])}}">
                    <img
                        height="100"
                        src="{{url_for('static', filename='avatar-' + pet.name.lower() + '.jpg')}}"
                        alt="avatar-{{pet.name.lower()}}"
                    >
                </a>
            </th>
            <th>{{pet.name}}</th>
            <th>{{pet.age}}</th>
            <th>{{pet.bio}}</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>